<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecuación Cuadrática</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
        <h2 class="text-2xl font-bold mb-6 text-center">Ecuación Cuadrática</h2>
        <form id="quadratic-form">
            <div class="mb-4">
                <label for="a" class="block text-gray-700 font-bold mb-2">Constante a:</label>
                <input type="number" id="a" name="a" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label for="b" class="block text-gray-700 font-bold mb-2">Constante b:</label>
                <input type="number" id="b" name="b" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label for="c" class="block text-gray-700 font-bold mb-2">Constante c:</label>
                <input type="number" id="c" name="c" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <button type="submit" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">Calcular</button>
            </div>
            
        </form>
        <form>
            <div class="mb-4">
                <label for="root1" class="block text-gray-700 font-bold mb-2">X1:</label>
                <input type="text" id="root1" name="root1" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" readonly>
            </div>
            <div class="mb-4">
                <label for="root2" class="block text-gray-700 font-bold mb-2">X2:</label>
                <input type="text" id="root2" name="root2" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" readonly>
            </div>
        </form>
        <div class="mb-4">
            <h2 id="error" class="text-2xl font-bold mb-6 text-center"></h2>
        </div>
    </div>
    <script src="/static/js/script.js" type="module"></script>
</body>
</html>
